.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  position: relative;
}

.mainContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 105px);
  margin: 0;
  padding: 0;
  top: 105px;
  left: 0;
  position: absolute;
}

.menuBar {
  display: flex !important;
  width: 250px !important;
  height: 100% !important;
  z-index: 3;
}

.pageContent {
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  height: 100%;
  width: calc(100vw - 250px) !important;
  z-index: 2;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: calc(100vw - 250px) !important;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.videoBg {
  width: calc(100vw - 250px);
  height: calc(100vh - 105px);
  object-fit: contain;
  position: fixed;
  right: 0;
  top: 105px;
  z-index: -1;
}

@media only screen and (max-width: 1700px) {
  .container header {
    height: 100px !important;
  }
  .mainContent {
    height: calc(100vh - 90px);
    top: 90px;
  }
  .videoBg {
    height: calc(100vh - 90px);
    top: 90px;
  }
}

@media screen and (max-width: 768px) {
  .menuBar {
    display: none !important;
  }
  .mainContent {
    height: calc(100vh - 90px);
    width: 100%;
    height: 100%;
    top: 90px;
  }
  .pageContent {
    width: 100% !important;
  }
}

.container::-webkit-scrollbar-thumb {
  display: none;
}
.container::-webkit-scrollbar-track {
  display: none;
}
.container::-webkit-scrollbar {
  display: none;
}
