@font-face {
  font-family: Gotham-Light;
  src: local("Gotham-Light");
  src: url("/fonts/GothamRoundedLight.otf");
}
@font-face {
  font-family: Gotham-Light-Italic;
  src: local("Gotham-Light-Italic");
  src: url("/fonts/GothamRoundedLightItalic.otf");
}
@font-face {
  font-family: Gotham-Medium;
  src: local("Gotham-Medium");
  src: url("/fonts/GothamRoundedMedium.otf");
}
@font-face {
  font-family: Gotham-Medium-Italic;
  src: local("Gotham-Medium-Italic");
  src: url("/fonts/GothamRoundedMediumItalic.otf");
}
@font-face {
  font-family: Gotham-Bold;
  src: local("Gotham-Bold");
  src: url("/fonts/GothamRoundedBold.otf");
}
@font-face {
  font-family: Titan-Regular;
  src: local("Titan-Regular");
  src: url("/fonts/TitanOneRegular.ttf");
}

* {
  box-sizing: border-box;
}

:root {
  font-family: Titan-Regular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color-scheme: light dark;
  color: #242424;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Gotham-Regular, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: color 0.25s;
}

body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
