.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  min-width: 300px;
  height: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 400px;
  min-height: 400px;
  z-index: 2;
  margin-top: -10px;
  aspect-ratio: 150/193;
}

.playButton {
  z-index: 3;
}

.buyButton {
  margin-top: 20px;
}

.x1Button {
  position: absolute;
  z-index: 2;
  right: 0px;
  top: -10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 5px;
  padding: 40px 10px 40px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.tokens {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  max-height: 30px;
  width: 100%;
}

.tooltip {
  position: fixed;
  cursor: pointer;
  z-index: 999;
}
